*~
#*
*.root
*.d
*.so
*.pyc
__init__.py

# latex
*.aux
*.log
*.pdf

# images
*.png
*.gif

# temporary/output files
*.out

# do not track directories
RooUnfold/tmp
RooUnfold/libRooUnfold.rootmap
Doc/html
